HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Java build
/target/
out/

# IDE
.idea/
*.iml
*.iws

# OS
.DS_Store

# Logs
*.log

# Local configuration
application.properties
application.yml
application-local.properties

# 환경 변수
.env.development
.env


# Firebase Service Account Key
# src/main/resources/firebase/ 폴더 아래의 모든 .json 파일을 무시합니다.
farming-family-828cf-firebase-adminsdk.json