<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>텃밭 정보 등록</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
</head>
<body th:replace="~{layout::layout}">
<div th:fragment="content">
    <h1>텃밭 정보 등록</h1>
    <form action="/admin/farms/createProc" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label for="id">텃밭 고유번호(필수):</label></td>
                <td>
                    <input type="number" id="id" name="gardenUniqueId" required>
                </td>
            </tr>
            <tr>
                <td><label for="farmName">텃밭명:</label></td>
                <td>
                    <input type="text" id="farmName" name="farmName">
                </td>
            </tr>
            <tr>
                <td><label for="operator">운영주체:</label></td>
                <td>
                    <input type="text" id="operator" name="operator">
                </td>
            </tr>
            <tr>
                <td><label for="roadName">도로명주소:</label></td>
                <td>
                    <input type="text" id="roadName" name="roadNameAddress">
                </td>
            </tr>
            <tr>
                <td><label for="lotNumber">지번주소(필수)(주소 1개만 입력 시 지번주소 또는 도로명주소 입력):</label></td>
                <td>
                    <input type="text" id="lotNumber" name="lotNumberAddress" required>
                </td>
            </tr>
            <tr>
                <td><label for="facilities">부대시설:</label></td>
                <td>
                    <input type="text" id="facilities" name="facilities">
                </td>
            </tr>
            <tr>
                <td><label for="contact">신청방법:</label></td>
                <td>
                    <input type="text" id="contact" name="contact">
                </td>
            </tr>
            <tr>
                <td><label for="latitude">위도:</label></td>
                <td>
                    <input type="number" step="any" min="0" id="latitude" name="latitude">
                </td>
            </tr>
            <tr>
                <td><label for="longitude">경도:</label></td>
                <td>
                    <input type="number" step="any" min="0" id="longitude" name="longitude">
                </td>
            </tr>
            <tr>
                <td><label for="available">운영여부:</label></td>
                <td>
                    <input type="checkbox" id="available" name="available" value="true">
                </td>
            </tr>
            <tr>
                <td><label for="file">텃밭 이미지:</label></td>
                <td>
                    <input type="file" id="file" name="imageFile">
                </td>
            </tr>
            <tr th:if="${param.error}">
                <td colspan="2" style="color:red;">
                    텃밭 정보 등록에 실패했습니다. 다시 한 번 시도해 주세요.
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{/admin/farms/{farmId}(farmId=${param.farmId})}">취소</a>
                </td>
                <td>
                    <input type="submit" value="등록">
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>