<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>텃밭 정보 수정</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
</head>
<body th:replace="~{layout::layout}">
<div th:fragment="content">
    <h1>텃밭 정보 수정</h1>
    <form action="#" method="post" th:action="@{/admin/farms/update/{farmId}(farmId=${farm.farmId})}" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label for="id">텃밭 고유번호(필수):</label></td>
                <td>
                    <input type="number" id="id" name="gardenUniqueId" th:value="${farm.gardenUniqueId}" required>
                </td>
            </tr>
            <tr>
                <td><label for="farmName">텃밭명:</label></td>
                <td>
                    <input type="text" id="farmName" name="farmName" th:value="${farm.farmName}">
                </td>
            </tr>
            <tr>
                <td><label for="operator">운영주체:</label></td>
                <td>
                    <input type="text" id="operator" name="operator" th:value="${farm.operator}">
                </td>
            </tr>
            <tr>
                <td><label for="roadName">도로명주소:</label></td>
                <td>
                    <input type="text" id="roadName" name="roadNameAddress" th:value="${farm.roadNameAddress}">
                </td>
            </tr>
            <tr>
                <td><label for="lotNumber">지번주소(필수)(주소 1개만 입력 시 지번주소 또는 도로명주소 입력):</label></td>
                <td>
                    <input type="text" id="lotNumber" name="lotNumberAddress" th:value="${farm.lotNumberAddress}" required>
                </td>
            </tr>
            <tr>
                <td><label for="facilities">부대시설:</label></td>
                <td>
                    <input type="text" id="facilities" name="facilities" th:value="${farm.facilities}">
                </td>
            </tr>
            <tr>
                <td><label for="contact">신청방법:</label></td>
                <td>
                    <input type="text" id="contact" name="contact" th:value="${farm.contact}">
                </td>
            </tr>
            <tr>
                <td><label for="latitude">위도:</label></td>
                <td>
                    <input type="number" step="any" min="0" id="latitude" name="latitude" th:value="${farm.latitude}">
                </td>
            </tr>
            <tr>
                <td><label for="longitude">경도:</label></td>
                <td>
                    <input type="number" step="any" min="0" id="longitude" name="longitude" th:value="${farm.longitude}">
                </td>
            </tr>
            <tr>
                <td><label for="available">운영여부(기존 - [[${farm.available}]]):</label></td>
                <td>
                    <input type="checkbox" id="available" name="available" value="true">
                </td>
            </tr>
            <tr>
                <td>텃밭 이미지:</td>
                <td>
                    <img th:src="${farm.farmImageUrl}" width="200" height="200" alt="">
                </td>
            </tr>
            <tr>
                <td><label for="file">텃밭 이미지 변경:</label></td>
                <td>
                    <input type="file" id="file" name="imageFile">
                </td>
            </tr>
            <tr th:if="${param.error}">
                <td colspan="2" style="color:red;">
                    텃밭 정보 수정에 실패했습니다. 다시 한 번 시도해 주세요.
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{/admin/farms/{farmId}(farmId=${param.farmId})}">취소</a>
                </td>
                <td>
                    <input type="submit" value="수정">
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>