<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사용자 정보 수정</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
</head>
<body th:replace="~{layout::layout}">
<div th:fragment="content">
    <h1>사용자 정보 수정</h1>
    <form action="#" method="post" th:action="@{/admin/users/update/{userId}(userId=${user.userId})}" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label for="id">email(아이디 - 필수):</label></td>
                <td>
                    <input type="text" id="id" name="email" th:value="${user.email}" required>
                </td>
            </tr>
            <tr>
                <td><label for="nickname">nickname(필수 - 2자 이상 10자 이하):</label></td>
                <td>
                    <input type="text" id="nickname" name="nickname" th:value="${user.nickname}" required>
                </td>
            </tr>
            <tr>
                <td><label for="oauthProvider">oauthProvider:</label></td>
                <td>
                    <input type="text" id="oauthProvider" name="oauthProvider" th:value="${user.oauthProvider}">
                </td>
            </tr>
            <tr>
                <td><label for="oauthId">oauthId:</label></td>
                <td>
                    <input type="text" id="oauthId" name="oauthId" th:value="${user.oauthId}">
                </td>
            </tr>
            <tr>
                <td><label for="role">권한 설정(필수) (기존 - [[${user.role}]]): </label></td>
                <td>
                    <select id="role" name="role" required>
                        <option value="USER">USER(사용자)</option>
                        <option value="ADMIN">ADMIN(관리자)</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="fcmToken">fcmToken:</label></td>
                <td>
                    <input type="text" id="fcmToken" name="fcmToken" th:value="${user.fcmToken}">
                </td>
            </tr>
            <tr>
                <td><label for="subscriptionStatus">subscriptionStatus(필수):</label></td>
                <td>
                    <input type="text" id="subscriptionStatus" name="subscriptionStatus" th:value="${user.subscriptionStatus}" required>
                </td>
            </tr>
            <tr>
                <td>프로필 이미지:</td>
                <td>
                    <img th:src="${user.profileImageUrl}" width="200" height="200" alt="">
                </td>
            </tr>
            <tr>
                <td><label for="file">프로필 이미지 변경:</label></td>
                <td>
                    <input type="file" id="file" name="imageFile">
                </td>
            </tr>
            <tr th:if="${param.error}">
                <td colspan="2" style="color:red;">
                    사용자 정보 수정에 실패했습니다. 다시 한 번 시도해 주세요.
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{/admin/users/{userId}(userId=${param.userId})}">취소</a>
                </td>
                <td>
                    <input type="submit" value="수정">
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>