<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="top_menu" class="navbar navbar-expand-lg navbar-dark bg-success shadow-sm">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <img src="https://aws-bucket-farming-family-25078.s3.ap-northeast-2.amazonaws.com/app_icon.png"
                 width="40" height="40" alt="로고" class="me-2" style="border-radius: 10px;">
            <h4 class="mb-0 fw-bold text-white">텃밭닥터</h4>
        </div>
        <div>
            <a th:href="@{/}" class="btn btn-outline-light btn-sm me-2">메인 화면</a>
            <th:block sec:authorize="isAnonymous()">
                <a th:href="@{/login}" class="btn btn-light btn-sm">로그인</a>
            </th:block>
            <th:block sec:authorize="hasRole('ADMIN')">
                <span class="me-2 text-white small">[[${session.userId}]] 님</span>
                <a th:href="@{/logout}" class="btn btn-outline-light btn-sm">로그아웃</a>
            </th:block>
        </div>
    </div>
</nav>
</html>